body{
    margin: 0%;
    /* margin-left: 15px;  */

    /* background: rgba(14, 12, 32, 0.822); */
}

.abt1{
    background-color: rgba(14, 12, 32, 0.822);
}
.txt{
   font-size: 2rem;
}

.MBD{
    font-family: 'Xanh Mono', monospace;
    font-size: 5rem;
    text-align: center;
    /* padding-top: 3rem; */
    /* padding-bottom: 5rem; */
    
}
.foodimg{
    padding-left: 20rem;
    height: 30rem;
}
.p1{
    font-size: 1.3rem;
    
}
.last{
    padding-top: 5rem;
}

.pabout{
    padding-left: 3rem;
    padding-right: 3rem;
}
.main1{
    margin-left: 5rem; 
    margin-right: 3rem;
    margin-top: 5rem;

}
.all{
  background-color: rgb(245, 240, 240);
}

.circle{
  margin-left:30px;
  padding-bottom : 5rem;
  align-items : center;
  margin-left: 10rem;
  text-align: center;
  
}

.pc{
  /* padding-top: 2rem; */
  margin-left: 0px;
  
}

.hr{
  color: black;
  font-weight: bolder;
}
.butC{
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  font-size: 30px;
  background-color: #ff6600ee;
}
.butC:hover{
  color:white;
}
.h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}
.ulAbt{
  font-size: 20px;
}
p{
  font-size: 20px;
}
@media (max-width: 606px){
  
}


