body{
    margin: 0%;
    /* margin-left: 15px;  */

    /* background: rgba(14, 12, 32, 0.822); */
}

.abt1{
    background-color: rgba(14, 12, 32, 0.822);
}
.txt{
   font-size: 2rem;
}

.MBD{
    font-family: 'Xanh Mono', monospace;
    font-size: 5rem;
    text-align: center;
    /* padding-top: 3rem; */
    /* padding-bottom: 5rem; */
    
}
.foodimg{
    padding-left: 20rem;
    height: 30rem;
}
.p1{
    font-size: 1.3rem;
    
}
.last{
    padding-top: 5rem;
}

.pabout{
    padding-left: 3rem;
    padding-right: 3rem;
}
.main1{
    margin-left: 5rem; 
    margin-right: 3rem;
    margin-top: 5rem;

}
.all{
  background-color: rgb(245, 240, 240);
}

/* .c1{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #ff6600ee;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  }
.c2{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #ff6600ee;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
}
.c3{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #ff6600ee;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
} */
.c4{
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  /* background:rgb(147, 135, 255); */
  /* border: 4px solid #000; */
  border-radius: 50%;
  font-size: 30px;
}
.circle{
  margin-left: 0px
  padding-bottom: 5rem;
  align-items: center;
}

.pc{
  /* padding-top: 2rem; */
  margin-left: 0px;
  
}

.hr{
  color: black;
  font-weight: bolder;
}
.butC{
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  /* color: #ff6600ee; */
}
.butC:hover{
  color:#ff6600ee;
}
.h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}
.ulAbt{
  font-size: 20px;
}
p{
  font-size: 20px;
}
@media (max-width: 606px){
  
}


