
#note{
    margin-top: 40px;
    margin-left: 25px;
}
#checkout{
    margin-left: 25px;
    font-size: 35px;
    font-weight: bold;
}
/* Dropdown Button */
.dropbtn {
    background-color: #ff6700;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ff6600b7;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  .show {display:block;}
#table{
    width: 100%;
    display: table;
    margin-left: 8px;
    margin-top: 50px;
}
.caption{
    display: table-caprion;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px ;
}
#table-header{
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}
.table-header-cell{
    display: table-cell;
    padding: 40px;
    text-align: justify;
    border-bottom: 1px solid rgb(221, 217, 217);
    }
.resp-table-row{
        display: table-row;
    }
.table-body-cell{
        display: table-cell;
    }
#box{
    border: 5px solid rgba(221, 106, 11, 0.849);
    width: 20%;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
}