@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,100&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2a2f3b;
}
a:hover{
    text-decoration: none;
}

/* navigation section */
.navbar-brand {
    color: #ff6700 !important;
    font-size: 2.8em;
    font-family: 'Satisfy', cursive;
}
.navbar-brand:hover{
    color:#ff6600;
}
.navbar-toggler-icon {
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ff6700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}
.navbar-collapse{
    justify-content: flex-end;
}
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}
nav ul li a {
    color: rgb(222, 205, 195);
}


/* footer section */
footer {
    background: #decdc3;
    padding: 3em 4em 0.5em 4em;
}
footer *{
    color: #383e4e;
}
footer > div{
    display: flex;
    justify-content: space-around;
}
footer h5{
    margin-bottom: 1.2em;
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: .5em;
}
footer ul li:hover{
    color: #ff6700;
    text-decoration: none;
}
.hover-orange:hover{
    color: #ff6700;
}
footer ul li i{
    margin-right: 1em;
}
.copyright P{
    color: #464c5ca6;
    font-size: .8em;
}

/* Responsive layout */
@media only screen and (max-width: 768px) {
    footer div div{
        margin-bottom: 1.8em;
    }
}

@media only screen and (min-width: 768px) {
    nav ul{
        flex-direction: row;
    }
}
.dark-bg{
    background-color: #2a2f3b;

}
.gray-bg{
    background-color: #efe8e8;
    color: #2a2f3b;

}
.white-bg{
    background-color: #fff;
    color: #313643;
}
.color-gray{
    color: #efe8e8;
}
.color-white{
    color: white;
}
.color-dark{
    color: #313643;
}
.color-orange, .color-orange i{
    color: #ff6700;
}
.btn-orange{
    background-color: #FF6700;
    color: #fff;
}


.focus{

    font-size: 10vh;
    font-weight: bold;

}
.plain{
    font-size: 6vh;
}

.round-img{
    border-radius: 5%;
}

.btn-link{
    color: #2a2f3b;
}


.btn-link:hover{
    color: #ff6600;
    text-decoration: none;
}

.faq-btn{
    display: flex;
    justify-content: space-between;
}
