@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,100&family=Satisfy&display=swap');


.container{
    width: 90%;
    margin: 0 auto;
    max-width: 480px;
}

/* filter section */
.filters ul{
    display: flex;
    list-style: none;
    margin-top: 2em;
}
.filters li a{
    color: rgb(255, 255, 255);
    padding: .5em 1.2em;
}
.filters li a.active {
    background: #ff6700;
    border-radius: .6em;
}

/* card section */
.cards {
    margin-top: 2em;
}
.card {
    background-color: rgb(56, 62, 78);
    /* box-shadow: 0 0 15px rgb(65, 65, 65); */
    margin-bottom: 2em;
}
.card-title{
    font-size: 1.2em;
    margin: .8em 0 1.8em 0;
}
.rating, .price{
    color: rgb(222, 205, 195);
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    font-style: italic;
    margin-bottom: 1.8em;
}
.rating-stars > *{
    color: rgb(236, 166, 26);
    font-size: 1.2em;
}
.price-amount{
    font-style: normal;
}

/* responsive layout */
@media only screen and (min-width: 768px) {
    .container{
        max-width: 100%;
    }
    nav ul{
        flex-direction: row;
    }
}
