body {
		background: #fff;
}

/* favorites - start */
.favorites {
		overflow: hidden;
	}
	
.favorites .nav-tabs {
	border: 0;
}

.favorites .nav-link {
	border: 0;
	padding: 12px 15px 12px 0;
	transition: 0.3s;
	color: #433f39;
	border-radius: 0;
	border-right: 2px solid #e8e7e4;
	font-weight: 600;
	font-size: 15px;
}

.favorites .nav-link:hover {
	color: #FF6700;
}

.favorites .nav-link.active {
	color: #FF6700;
	border-color: #FF6700;
}

.favorites .tab-pane.active {
	-webkit-animation: fadeIn 0.5s ease-out;
	animation: fadeIn 0.5s ease-out;
}

.favorites .details h3 {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #433f39;
}

/* .favorites .details p {
	color: #aaa5a5;
} */

.favorites .details p:last-child {
	margin-bottom: 0;
}

.carousel-foodName{
	font-size: 2em;
	margin-bottom: 50px;
	font-weight: 600;
	color: #fff;
}

@media (max-width: 992px) {
	.favorites .nav-link {
		border: 0;
		padding: 15px;
	}
	.favorites .nav-link.active {
		color: #fff;
		background: #FF6700;
	}
}
/* .favorites - end */

/* checkout box - start */
.card{
	margin-bottom: 0;
}
.action-btns{
	background-color: #e9ecefab;;
    padding: .5em;
}
.heart-btn{
	background-color: transparent;
	border: none;
	font-size: 1.8em;
	outline: none !important;
}
.heart-btn i{
	color: red;
}
.plus-btn{
	margin-right: 25%;
}
.checkout{
	position: fixed;
    right: 0;
    top: 109px;
    background: white;
    z-index: 1000;
    width: 80%;
	box-shadow: 0 0 20px #6c757d2b;

}

/* checkout box - end */

	/*  How To Order - start */
	
	.how-to .box {
		padding: 50px 30px;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		background-color: white;
		transition: all ease-in-out 0.3s;
		margin-bottom: 2rem;
	}
	
	.how-to .box span {
		display: block;
		font-size: 28px;
		font-weight: 700;
		color: #ffcf88;
	}
	
	.how-to .box h4 {
		font-size: 24px;
		font-weight: 600;
		padding: 0;
		margin: 20px 0;
		color: #6c665c;
	}
	
	.how-to .box p {
		color: #aaaaaa;
		font-size: 15px;
		margin: 0;
		padding: 0;
	}
	
	.how-to .box:hover {
		background: #ffb03b;
		padding: 30px 30px 70px 30px;
		box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
	}
	
	.how-to .box:hover span, .how-to .box:hover h4, .how-to .box:hover p {
		color: #fff;
	}
	/* How to Order - End */